<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/apple-icon.png" />
    <link rel="icon" href="/img/favicon.png" />
    <title>
       SIPERPUS by TA-4
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="/css/font-css.css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/material-dashboard.css?v=2.0.0" />
    <!-- Documentation extras -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-material-datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="/DataTable/datatables.min.css" />
    <style>
   .dtp {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, .4);
z-index: 2000;
font-size: 15px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
    </style>
</head>

<body class="">
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-background-color="white" >
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    SIPERPUS TA-4  
                </a>
            </div>
            <div class="sidebar-wrapper" >
             <ul class="nav">
                    <li class="nav-item  ">
                        <a class="nav-link" href="/">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                     
                    <li class="nav-item">
                        <a class="nav-link" href="/literature/viewall">
                            <i class="material-icons">content_paste</i>
                            <p>List Literature</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/literature/viewall">
                            <i class="material-icons">content_paste</i>
                            <p>List Peminjaman</p>
                        </a>
                    </li>
                     <li class="nav-item ">
                        <a class="nav-link" href="/literatur/cari">
                            <i class="material-icons">search</i>
                            <p>Pencarian Literatur</p>
                        </a>
                    </li>
                </ul>
                </div>
            
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="sidebar-wrapper" th:replace="fragments/header :: header"></nav>
           
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Create Peminjaman Baru</h4>
                                    <p class="card-category">Lengkapi form isian peminjaman</p>
                                </div>
                                <div class="card-body">
                                	<form method="post" action="/peminjaman/tambah/submit">
										 
										<div class="divider col s12 l6"></div>
										<br/>
										 
										<div class="row">
										 	<div class="col-md-12">
										 		<div class="input-group no-border">
										 			 
	                                                    	<input type="text" class="form-control" name="judul" id="judul" readonly="readonly"  placeholder="Judul"/>
	                                                    	<input type="hidden" name="id_literatur" id="id_literatur" />
					                                 
					                                <button type="button" id="searchLiteraturBtn" class="btn btn-blue btn-round btn-just-icon">
						                                    <i class="material-icons">search</i> 
						                                    <div class="ripple-container"></div>
						                                </button> 
					                            </div>
                                               
	                                               
                                            </div>
										</div>
										<div class="row">
										 	<div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Tanggal Peminjaman</label>
                                                    <input type="text" class="form-control" name="tanggal_peminjaman" id="tanggal_peminjaman" />
                                                </div>
                                            </div>
										</div>
										<div class="row">
										 	<div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Tanggal Pengembalian</label>
                                                    <input type="text" class="form-control" name="tanggal_pengembalian" id="tanggal_pengembalian" />
                                                </div>
                                            </div>
										</div>
										<div class="row">
										 	<div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Surat Referensi</label> 
                                                    <input type="number" class="form-control" name="id_surat" id="id_surat" />
                                                </div>
                                            </div>
										</div>
										
											<button class="btn blue" type="submit" name="action" value="submit">
												Submit
											</button>
											<a class="btn red">
												Back
											</a>
									</form>
                                </div>
                                </div>
                                </div>
                                </div>
                
                
                	<div class="row">
			<div id="modalSearchLiteratur" class="modal fade" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Cari Literatur</h4>
                        </div>
                        <div class="modal-body">
                            <div class="scroller"  data-always-visible="1" data-rail-visible1="1">
                                <div class="form-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover" id="tblLiteratur">
                                        <thead class="text-warning">
                                        	<th>No.</th>
							        		<th>Judul</th>
							        		 
							        		<th>Jenis Literatur</th>
							        		<th>Jumlah Available</th>
							        		<th>Action</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="literature,iterationStatus: ${literatures}">
	            <td th:text="${iterationStatus.count}">No. 1</td>
		       	 
		       	<td th:text="${literature.judul}"><a th:href="'/literature/view/' + ${literature.id}">Literature Judul</a></td>
		        	<td th:text="${literature.jenis_literatur}">Literature Jenis</td>
		       	<td th:text="${literature.jumlah}">Literature Jumlah</td>
			    <td><a  th:onclick="'selectLiteratur(\'' + ${literature.id} + '\',\''+${literature.judul}+'\');'">Pilih Literatur</a></td>
		       
	       	</tr> 
                                        </tbody>
                                    </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>

                        </div>
                    </div>
                </div>
            </div>
		</div>
                </div>
            </div>
           <footer th:replace="fragments/footer :: footer">&copy; 2018 APAP</footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="/js/core/jquery.min.js"></script>
<script src="/js/core/popper.min.js"></script>
<script src="/js/bootstrap-material-design.js"></script>
<script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script src="/js/plugins/chartist.min.js"></script>
<!-- Library for adding dinamically elements -->
<script src="/js/plugins/arrive.min.js" type="text/javascript"></script>
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script src="/js/plugins/bootstrap-notify.js"></script>
 
<script src="/js/moment.js"></script>
<script src="/js/bootstrap-material-datetimepicker.js"></script>
 
  <script type="text/javascript" src="/DataTable/datatables.min.js"></script>
<script type="text/javascript">
var oTable1=null;
    $(document).ready(function() {

        //init wizard

        // demo.initMaterialWizard();

        // Javascript method's body can be found in assets/js/demos.js
//        demo.initDashboardPageCharts();

  //      demo.initCharts();
    	
    	$('#searchLiteraturBtn').on('click', function(){
    		$('#modalSearchLiteratur').modal('show');
    		if (oTable1 != undefined) {
    	        oTable1.destroy();
    	    };
    	    oTable1 = $('#tblLiteratur').DataTable({
    			"ordering": false
    		});
    	});
    	
    	$('#tanggal_peminjaman').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
    	$('#tanggal_pengembalian').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
  
    });
    function selectLiteratur(idliteratur, judulliteratur) {

		$('#id_literatur').val(idliteratur);
		$('#judul').val(judulliteratur);
		
        $('#modalSearchLiteratur').modal('toggle');
        
    }
</script>
	
</html>
 